body {
  font-family: Georgia, serif;
}
header {
  width:100%;
  text-align:center;
}
section {
  background-color: #FFF333;
  padding: 1.5em; 
  overflow: hidden;
  width: 20em;
  margin:0em auto 0em auto;
  border-radius:.35em;
}
aside { 
  width:50%;
  float:left;
}
span {
  margin-top: 2em;
}
h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  cursor: pointer;
  background-color:#D8E5FF;
  border-radius:1em;
  padding:.5em;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
h2:hover, .active {
  background-color:#6599FF;
  border-radius:2em;
  color:#FFF333;
}
form p {
  line-height:0em;
}
textarea {
  resize:none;
  width:100%;
}

select, input[type="text"] {
  margin-bottom:1.5em; 
}
input[type="submit"] {
  margin-top:2em;
  width:100%;
}
.errorMsg {
  border-color: red;
  border-width: .2em;
}
.small {
  width:3em;
}
.large {
  width:100%;
}
.inactive {
  color:gray;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

#employee, #accident, #dashboard {
  display: none;
  overflow: hidden;
}
#dashboard {
  display: block; 
}
