section {
  background-color: gray;
  padding: 1.5em;
  overflow: hidden;
  width: 20em;
}
aside { 
  width:50%;
}
form p {
  line-height:0em;
}
input {
  line-height:0em;
  margin-bottom:1em; 
}
.errorMsg {
  border-color: red;
  border-width: .2em;
}
